<html>
    <body>
	<h3>Login</h3>
        <form action="/login" method="POST">
	    User ID: <input type="text" name="userid" required/>
	    <br>
	    Password: <input type="password" name="password" />
	    <br>
	    <input type="submit" value="Login">
	</form>
	<a href="/register">Registeration</a>
    </body>
</html>
