<html>
    <body>
	<h3>Registration</h3>
        <form action="/register" method="POST">
	    User ID: <input type="text" name="userid" required/>
	    <br>
	    Password: <input type="password" name="password" required/>
	    <br>
	    Confirm Password: <input type="password" name="confirmPw" required/>
	    <br>
	    <input type="submit" value="Register">
	</form>
	<a href="/">Back</a>
    </body>
</html>
